# Python virtual environments
venv/
Backend/venv/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/
dist/
dist-ssr/

# Environment variables
.env

# Logs
logs/
*.log

# Editor files
.vscode/
.idea/
.DS_Store